#!/usr/bin/make -f
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk

install/useless-base::
	python setup.py base install --prefix=$(CURDIR)/debian/useless-base/usr
	rm -r build/
install/useless-sqlgen::
	python setup.py sqlgen install --prefix=$(CURDIR)/debian/useless-sqlgen/usr
	rm -r build/
install/useless-db::
	python setup.py db install --prefix=$(CURDIR)/debian/useless-db/usr
	rm -r build/
install/useless-gtk::
	python setup.py gtk install --prefix=$(CURDIR)/debian/useless-gtk/usr
	rm -r build/
install/useless-kbase::
	python setup.py kbase install --prefix=$(CURDIR)/debian/useless-kbase/usr
	rm -r build/
install/useless-kdb::
	python setup.py kdb install --prefix=$(CURDIR)/debian/useless-kdb/usr
	rm -r build/
install/useless-xmlgen::
	python setup.py xmlgen install --prefix=$(CURDIR)/debian/useless-xmlgen/usr
	rm -r build/
install/useless-debian::
	python setup.py debian install --prefix=$(CURDIR)/debian/useless-debian/usr
	rm -r build/

clean::
	dh_clean `find -path *.pyc`
	dh_clean `find -path *~`
	dh_clean configure-stamp
